@import '../../sass/variables';

.main-container {
  display: flex;
  padding-left: 0.8rem;

  .channel-view {
    flex: auto;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 84vh;
      overflow-y: scroll;
    }

    &__inner {
      margin: 0.8rem 0;
    }

    // channel
    &__name,
    &__created-at,
    &__description {
      margin: 0 0.3rem;
    }

    &__name {
      font-size: 1.5rem !important;
    }

    &__inner-two {
      margin: 0 0.3rem;
      font-size: 0.8rem;
    }

    &__inner-three {
      display: inline;
    }

    &__inner-four {
      margin-top: 0.5rem;
    }

    &__user-icon {
      margin-left: 0.3rem;
    }

    &__edit-button,
    &__user-icon {
      padding: 0;
      color: $color-blue-active;

      &:hover {
        text-decoration: underline;
      }
    }

    &__message {
      margin-right: 0.7rem;
    }
  }
}
// teammate
.c-teammate {
  display: flex;
  align-items: center;

  &__username {
    margin: 0 0.3rem;
  }

  &__circle-icon {
    background-color: $color-green;
    border-radius: 50%;
  }

  &__inner {
    font-size: 0.9rem;
  }

  &__message {
    font-weight: 900;
    margin-right: 0.3rem;

    &--margin-left {
      margin-left: 0.3rem;
    }
  }
}
