.form__group {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.form__group--column {
  flex-direction: column;
}
