@import '../../sass/variables';
@import '../../sass/mixins';

.main-container {
  display: flex;
  padding-left: 0.8rem;
  width: 100%;

  // desktop
  @media screen and (min-width: $breakpoint-md) {
    .channel-view__details {
      width: 440px;
    }
  }

  // tablet size
  @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    .view-wrapper {
      width: 50%;
    }

    .view-wrapper__details {
      width: 50%;
    }
  }

  // phone
  @media screen and (min-width: 0) and (max-width: $breakpoint-sm) {
    .view-wrapper__details {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .view-wrapper {
    flex: auto;

    &__inner {
      margin: 0.8rem 0;
    }

    &__message {
      margin-right: 0.7rem;
    }

    &__details {
      background-color: $background-color;
    }
  }
}
