.button {
  height: 30px;
  border-radius: 5px;
  border: none;
  text-shadow: none;
  font-weight: 500;
}

.button--primary {
  background-color: #3f0e40;
  color: #fff;
}

.button--transparent {
  background: transparent;
}
