.button {
  border-radius: 5px;
  border: none;
  outline-style: none; // remove white outline in chrome
  padding: 0.3rem;
  text-shadow: none;

  &:hover:not(:disabled) {
    cursor: pointer;
  }
}

.button--disabled {
  background-color: #fff;
  color: #3f0e40;
  border: 1px solid #3f0e40;
}

.button--primary:not(:disabled) {
  background-color: #3f0e40;
  color: #fff;

  &:hover {
    background-color: #2b062c;
  }
}

.button--transparent {
  background: transparent;
}
