.button {
  border-radius: 5px;
  border: none;
  text-shadow: none;
  margin: 0;
  padding: 0.3rem;

  &:hover {
    cursor: pointer;
  }
}

.button--primary {
  background-color: #3f0e40;
  color: #fff;

  &:hover {
    background-color: #2b062c;
  }
}

.button--transparent {
  background: transparent;
}
