@font-face {
  font-family: ChampagneLimousines;
  font-style: normal;
  src: url('../../assets/fonts/Champagne-&-Limousines.ttf'), format('truetype');
}

.text {
  font-family: ChampagneLimousines, sans-serif;
}

.text--xm {
  font-size: 0.7rem;
}

.text--sm {
  font-size: 0.9rem;
}

.text--md {
  font-size: 1rem;
}

.text--lg {
  font-size: 1.3rem;
}

.text--xlg {
  font-size: 1.8rem;
}
