@import '../sass/variables';

.dashboard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
    'dashboard__top-nav dashboard__top-nav'
    'dashboard__sidebar dashboard__main';

  &__top-nav {
    background-color: $background-color;
    grid-area: dashboard__top-nav;
    width: inherit;
  }

  &__sidebar {
    background-color: $primary-color;
    color: $background-color;
    grid-area: dashboard__sidebar;
    display: flex;

    .sidebar-workspaces {
      min-width: 60px;
    }

    .sidebar-channels {
      width: 220px;
    }
  }

  &__main {
    background-color: $background-color;
    grid-area: dashboard__main;
    padding: 0.8rem;
  }
}
