@import '../../sass/variables';
@import '../../sass/mixins';

.dashboard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    'dashboard__inner dashboard__main'
    'dashboard__inner dashboard__main';
  overflow: hidden;

  @include media-query(998px) {
    & {
      grid-template-areas:
        'dashboard__main dashboard__main'
        'dashboard__main dashboard__main';
    }

    &__workspace-list {
      flex-shrink: 2;
      width: 5%;
    }

    &__sidebar {
      width: 90%;
    }

    &__main {
      width: 100vw;
    }
  }

  &__inner {
    background-color: $primary-color;
    color: $background-color;
    display: flex;
    grid-area: dashboard__inner;

    &--mobile {
      position: absolute;
      width: 100vw;
      z-index: 100;
    }

    .mobile-close-button {
      align-self: flex-start;
      margin: 1rem 1rem 0 0;
      z-index: 100;

      &:hover {
        background-color: rgba(207, 195, 207, 0.2);
      }
    }
  }

  &__workspace-list {
    min-width: 30px;
    width: 60px;
  }

  &__sidebar {
    flex: 1 1;
    min-width: 150px;
    width: 200px;
  }

  &__main {
    background-color: $background-color;
    grid-area: dashboard__main;
  }
}
