@import '../../sass/variables';

.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;

  &__workspaces-list {
    background-color: $primary-color;
    min-width: 60px;
    max-width: 60px;
  }

  &__sidebar {
    background-color: $primary-color;
    color: $background-color;
    min-width: 220px;
    max-width: 220px;
  }

  &__main {
    background-color: $background-color;
  }
}
