@import '../../../pages/sass/variables';

.list__item {
  padding-left: 0.85rem;
}

.list__item--hoverable {
  &:hover:not(&--active) {
    cursor: pointer;
    background-color: $primary-color-hover;
  }
}

.list__item--active {
  background-color: $color-blue-active;
}
