@import '../../sass/variables';

.workspace-info {
  display: flex;
  flex-direction: row;
}

.container {
  border-bottom: 1px solid #ccc;
  display: flex;
}

.details-button {
  align-self: center;
  display: flex;

  &:hover {
    background-color: rgba($color-dark-grey, 0.1);
  }

  &__icon,
  &__text {
    margin: 0 0.2rem;
  }
}
