@import '../../sass/variables';
@import '../../sass/mixins';

.workspace-info {
  display: flex;
  flex-direction: row;
}

.hamburger-button {
  padding: 0;
  width: 3rem;
}

.hamburger-icon {
  color: rgb(122, 122, 255);
}

.container {
  border-bottom: 1px solid #ccc;
  display: flex;
  padding-right: 0.6rem;
}

.details-button {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;

  @include media-query($breakpoint-sm) {
    &__text {
      display: none;
    }
  }

  &:hover {
    background-color: rgba($color-dark-grey, 0.1);
  }

  &__icon,
  &__text {
    margin: 0 0.2rem;
  }
}
