@font-face {
  font-family: ChampagneLimousines;
  font-style: normal;
  src: url('../../../public/fonts/Champagne-&-Limousines.ttf'),
    format('truetype');
}

.paragraph {
  font-family: ChampagneLimousines, sans-serif;
}
