@import '../../sass/variables';

.workspace {
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: $primary-color-hover;
    cursor: pointer;
  }

  &__chevron-icon {
    align-self: center;
    font-size: 0.5rem;
    margin-left: 0.3rem;
    opacity: 0.6;
  }

  &__username {
    opacity: 0.6;
  }

  &:hover &__chevron-icon,
  &:hover &__username {
    opacity: 1;
  }

  &__inner {
    display: flex;
  }

  &__name {
    font-weight: 700;
    margin-bottom: 0.3rem;
    max-width: 140px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__circle-icon {
    background-color: #2bac76;
    border-radius: 50%;
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }

  &__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid rgba($background-color, 0.5);
    border-radius: 50%;
    font-size: 0.6rem;

    &:hover {
      border-color: rgba($background-color, 1);
    }
  }

  .create-workspace-modal {
    color: $color-black;
  }
}
