@import '../../sass/variables';

.workspace {
  border-bottom: 1px solid rgba($color-dark-grey, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem 0.05rem 1rem;

  &__inner {
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__inner-two {
    display: flex;
    align-items: center;
  }

  &__name,
  &__username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__name {
    font-weight: 700;
    margin-bottom: 0.3rem;
    display: block;
  }

  &__circle-icon {
    background-color: #2bac76;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  &__add-button {
    align-items: center;
    align-self: center;
    cursor: pointer;
    display: flex;
    font-size: 0.6rem;
    height: 25px;
    justify-content: center;
    position: relative;
    right: 0.15rem;
    width: 25px;

    &:hover {
      background-color: $color-white-hover;
    }
  }

  .create-workspace-modal {
    color: $color-black;
  }
}
