@import '../../pages/sass/variables';

.message-list {
  .message {
    &__date-created {
      align-self: center;
      background-color: $background-color;
      border: 1.3px solid rgba($color-dark-grey, 0.2);
      border-radius: 10px;
      bottom: 1.2rem;
      display: inline-block;
      font-weight: 700;
      position: relative;
      padding: 0.3rem;
    }

    &__username {
      font-weight: 700;
    }

    &__inner,
    &__inner-two {
      display: flex;
    }

    &__inner-two {
      flex-direction: column;
      margin-left: 0.3rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba($color-dark-grey, 0.2);
    padding: 0.6rem 0;
  }
}
