.workspace-sidebar {
  &__container {
    display: flex;
    height: 92vh;
    position: relative;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
    scrollbar-width: none;
    width: 94%;
  }
}

.scrollbar-track {
  height: 100%;
  position: relative;
  width: 6%;
}

.scrollbar {
  background-color: rgba(255, 255, 255, 0.45);
  position: absolute;
  top: 0;
  width: 100%;

  &--invisible {
    opacity: 0;
  }

  &--visible {
    opacity: 1;
  }
}
