@import '../../sass/variables';

.teammates-list {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding-left: 0.85rem;

    &:hover:not(&--active) {
      cursor: pointer;
      background-color: $primary-color-hover;
    }

    &--active {
      background-color: $color-blue-active;
    }
  }

  &__icon {
    opacity: 0.3;
    margin-right: 0.5rem;

    &--active {
      background-color: #2bac76;
      border-radius: 50%;
      opacity: 1;
    }
  }

  &__username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__add-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 0.6rem;
    height: 25px;
    justify-content: center;
    left: 0.26rem;
    position: relative;
    width: 25px;

    &:hover {
      background-color: $color-white-hover;
    }
  }

  &__button {
    color: rgba($background-color, 0.8);
    display: flex;
    align-items: center;
    width: 100%;
  }
}
