@import '../../sass/variables';

.teammates-list {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding-left: 0.85rem;

    &:hover:not(&--active) {
      cursor: pointer;
      background-color: $primary-color-hover;
    }

    &--active {
      background-color: $color-blue-active;
    }
  }

  &__icon {
    opacity: 0.3;
    margin-right: 0.5rem;

    &--active {
      background-color: #2bac76;
      border-radius: 50%;
      opacity: 1;
    }
  }

  &__username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 0.6rem;

    &:hover {
      border-color: $background-color;
    }
  }

  &__button {
    color: rgba($background-color, 0.8);
    display: flex;
    align-items: center;
    width: 100%;
  }
}
