@import '../../../pages/sass/variables';

@font-face {
  font-family: ChampagneLimousines;
  font-style: normal;
  src: url('../../../assets/fonts/Champagne-&-Limousines.ttf'),
    format('truetype');
}

.form__field {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  font-family: ChampagneLimousines, sans-serif;
  margin: 0.5rem 0;
  color: #747474;
  width: 100%;

  .field-label {
    color: $color-black;
    font-weight: 400;

    &__message {
      color: $color-dark-grey;
    }
  }

  .field-input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #747474;
    box-shadow: none;

    &:focus {
      border-bottom-color: #378ef0;
    }
  }

  .field-error {
    font-size: 0.8rem;
  }

  .field-input--error {
    border-bottom-color: #d7373f;
  }
}
