@import '../../sass/variables';

.channel {
  padding-top: 0.8rem;
  width: 100%;
  border-bottom: $border-line;

  &__name {
    display: flex;
    font-weight: 600;
  }

  &__icon-sm {
    font-size: 1rem !important;
    margin-right: 0.2rem;
  }

  &__icon-user,
  &__icon-pencil {
    font-size: 0.7rem !important;
  }

  &__icon-pencil {
    align-self: center;
    margin-right: 0.3rem;
  }

  &__edit-topic {
    opacity: 0;
    padding: 0;
    font-size: 0.9rem;
    color: $color-blue-active;

    &:hover {
      text-decoration: underline;
    }
  }

  &__add-topic {
    margin-left: 0.2rem;
    margin-right: 0.3rem;
    border-radius: 5px;
    padding: 2px 1rem 2px 2px;
    cursor: default;
  }

  &__inner {
    display: flex;
  }

  &__inner-two {
    display: flex;

    &::before {
      content: '|';
      color: rgba($color-dark-grey, 0.5);
      margin-left: 0.2rem;
    }

    &:hover .channel__add-topic {
      box-shadow: inset 0 0 0 1px rgba($color-dark-grey, 0.6),
        0 1px 1px 0 rgba($color-black, 0.05);
    }

    &:hover > .channel__edit-topic {
      opacity: 1;
    }
  }

  &__inner-inside {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &__members-button {
    padding: 0;

    &:hover .channel__icon-user {
      color: $color-blue-active;
    }
  }

  &__members-count {
    font-size: 0.8rem !important;
    font-weight: 400;
    margin-left: 0.2rem;

    &:hover {
      color: $color-blue-active;
    }
  }

  &__topic {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
  }
}
