@import '../../sass/variables';

.channel-list {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem;
  }

  &__icon {
    align-self: center;
    opacity: 0.3;
    margin-right: 0.5rem;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__add-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 0.6rem;
    height: 25px;
    justify-content: center;
    left: 0.3rem;
    position: relative;
    width: 25px;

    &:hover {
      background-color: $color-white-hover;
    }
  }

  &__button {
    color: rgba($background-color, 0.8);
    width: 100%;
    display: flex;
  }
}
