@import '../../sass/variables';

.channel-list {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem;
  }

  &__icon {
    align-self: center;
    opacity: 0.3;
    margin-right: 0.5rem;
  }

  &__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 0.6rem;

    &:hover {
      border-color: $background-color;
    }
  }

  &__button {
    color: rgba($background-color, 0.8);
    width: 100%;
    display: flex;
  }
}
