@import '../../pages/sass/variables';

@font-face {
  font-family: Coolvetica;
  font-style: normal;
  src: url('../../assets/fonts/coolvetica-rg.ttf') format('truetype');
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $background-color;
    color: $color-black;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 3px 0,
      rgba(0, 0, 0, 0.2) 1px 3px 15px 2px;

    &__button-close {
      align-self: flex-end;
    }

    &__header {
      border-bottom: 1px solid rgba(34, 36, 38, 0.15);
      font-size: 1.2rem;
      font-family: Coolvetica, Helvertica, sans-serif;
      width: 100%;
    }
  }
}

.modal--sm {
  max-width: 360px;
}

.modal--md {
  max-width: 540px;
}

.modal--fullscreen {
  max-width: 95vw;
}
