@import '../../sass/variables';

.form__message {
  align-self: flex-start;
  color: rgba($color-dark-grey, 0.8);
  margin: 0.5rem 0;
}

.channel-name {
  margin: 0 0.3rem;
  font-weight: 900;
  color: rgba($color-black, 0.8);
}

.form__inner {
  width: 100%;
  min-height: 5rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba($color-dark-grey, 0.5);
}

.form__button {
  background-color: transparent;
  border: 1px solid rgba($color-dark-grey, 0.6) !important;
  font-weight: 800;
  margin: 0.3rem;
  min-width: 4rem;
  transition: background-color 0.4s ease;

  &:hover {
    box-shadow: 1px 1px 9px 0 rgba($color-dark-grey, 0.8);
  }
}

.form__button--active {
  background-color: $primary-color !important;
  box-shadow: none !important;
  color: $background-color;
}

.form__icon {
  margin-left: 0.3rem;
  position: relative;
  bottom: 1px;
}

.form__open-invite-button {
  color: $color-blue-active;
  font-size: 0.7rem;

  &:hover {
    text-decoration: underline;
  }
}

.form__submit-button {
  width: 4rem;
}
