@font-face {
  font-family: Coolvetica;
  font-style: normal;
  src: url('../../assets/fonts/coolvetica-rg.ttf') format('truetype');
}

.header__heading {
  font-weight: 500;
  font-family: Coolvetica, Helvetica, sans-serif;
}

.header__heading--left {
  text-align: left;
}

.header__heading--center {
  text-align: center;
}

.header__heading--right {
  text-align: right;
}
