@import '../../sass/variables';
@import '../../sass/mixins';

.login-page {
  width: 100%;

  &__error {
    color: red;
  }

  .form-group {
    @include media-query($breakpoint-sm) {
      width: 100%;
    }

    .form-input {
      @include media-query($breakpoint-sm) {
        width: inherit;
        margin: 0.3rem 0;
      }
    }
  }
}
