.dialog {
  border-radius: 5px;
  width: 100%;

  &__content {
    margin: 0.3rem 0 !important;
  }

  .dialog-list {
    margin: 0.3rem 0;
  }
}

.dialog--success {
  color: #21ba45;
}

.dialog--failure {
  color: #d7373f;
}
