@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.landing-page {
  background-color: #fff;

  &__nav {
    padding: 0 11.5rem;
    margin: 1rem 0 0 0;

    @include media-query($breakpoint-xlg) {
      padding: 0 0 0 2rem;
    }

    @include media-query($breakpoint-sm) {
      padding: 0;
    }
  }

  .header-hero {
    background-image: url(../../hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vmax;

    &__header {
      margin: 0.5rem 0 0 11.5rem;
      padding-top: 3rem;

      @include media-query($breakpoint-xlg) {
        margin: 0.5rem 0 0 2rem !important;
      }

      @include media-query($breakpoint-sm) {
        margin-top: 0;
      }
    }

    .header-hero__heading {
      font-size: 3rem;
    }
  }

  &__description {
    .description-header {
      text-align: center;

      &__link {
        padding-left: 0.3rem;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .register-modal,
  .login-modal {
    @include media-query($breakpoint-sm) {
      width: 100%;
    }
  }
}
