.image {
  border: none;
  box-shadow: none;
  height: auto;
}

.image--xm {
  width: 35px;
}

.image--sm {
  width: 80px;
}

.image--md {
  width: 150px;
}

.image--lg {
  width: 300px;
}

.image--xlg {
  width: 450px;
}
