@import '../../sass/variables';

.create-workspace {
  color: rgba($color-dark-grey, 1);
  width: 100%;

  &__sub-header {
    font-size: 0.9rem;
  }

  &__message {
    align-self: flex-start;
    max-width: 430px;
    margin-bottom: 1rem;
  }
}
